<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy;
      <%= link_to "Libraria online CarteaTa", "https://www.facebook.com/LibrarieonlineCarteaTa", class: "text-white link" %>
    </small>
  </div>
</footer>